* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: cursive;
}

body{
  display: flex;
  justify-content: center;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

header {
  width: 100%;
  height: 12rem;
  border-radius: 0 0 3rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f2f2f2;
  box-shadow:  0 0.5rem 0.5rem #d8d8d8;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 2.5rem;
}

header img {
  padding-left: 2rem;
  max-width: 20rem;
}

header a {
  padding-right: 5rem;
  font-family: 'Finger Paint';
  font-weight: 600;
}

main {
  width: 100%;
  padding-bottom: 2rem;
}

/* INDEX PAGE */

#products-cards-contenair {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#products-cards-contenair a{
  width: 55rem;
  height: 45rem;
  border-radius: 3rem;
  margin: 2rem;
}

#products-cards-contenair figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
  border-radius: 3rem;
  overflow: hidden;
}

#products-cards-contenair figure:hover,
button:hover{
  transform: scale(1.015);
  transition: 0.4s;
}

#products-cards-contenair img {
  width: 100%;
  height: 25rem;
  border-radius: 3rem 3rem 0 0;
  object-fit: cover;
}

#products-cards-contenair figcaption {
  background: #f2f2f2;
  max-width: 60rem;
  height: 20rem;
  border-radius: 0 0 3rem 3rem ; 
  padding: 1rem;
}

h2,
p,
span {
  font-family: cursive;
}

p {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

span {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 2rem;
}

/* PRODUCT PAGES */

#product-page-contenair {
  height: 55rem;
  max-width: 60rem;
  border-radius: 3rem;
  background: #f2f2f2;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
}

#product-page-contenair nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#product-page-contenair,
#product-page-contenair label,
#product-page-contenair select,
button {
  cursor: pointer;
}

#product-page-contenair img{
  height: 30rem;
  object-fit: cover;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
}

#product-page-contenair figcaption{
  background: #f2f2f2;
  height: 25rem;
  width: 100%;
  border-radius: 3rem;
  padding: 1rem;
}

#product-page-contenair label {
  display: block;
  text-align: center;
  padding-top: 2rem;
  
}

.main-product-page {
  display: flex;
  flex-direction: column;
}

.main-product-page a {
  display: block;
  width: 36rem;
  height: 8rem;
  border-radius: 3rem;
  margin-top: 4rem;
  margin: auto;
}

.main-product-page select {
  margin: auto;
  display: block;
  border-radius: 3rem;
}

#btn-order,
#btn-add-to-cart {
  width: 36rem;
  height: 8rem;
  border-radius: 3rem;
  background: linear-gradient(135deg ,#e69320 , #8F5BFE);
  outline:none;
  border: none;
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
  font-size: 2rem;
  font-family: cursive;
  font-weight: bold;
}

footer {
  background: #333;
  height: 15rem;
}

/* CART PAGE*/

#cart-page-contenair {
  max-width: 70rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#cart-page-table {
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
}

table {
  background: #f2f2f2;
  border-radius: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  background: #f2f2f2;
  padding: 1rem;
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
}

caption {
  margin: auto;
  font-size: 2.5rem;
  font-family: cursive;
  font-weight: bold;
}

thead {
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
  margin-bottom: 1rem;
}

#selected-product-cart-contenair {
  width: 100%;
  background:#ffffff;
}

thead,
tbody {
  font-size: 1.6rem;
  background: #ffffff;
  border-radius: 3rem;
  max-width: 70rem;
}

tbody {
  display: flex;
  align-self: ;
}

tbody img {
  
  height: 8rem;
  width: 14rem;
  border-radius: 3rem;
  object-fit: cover;
}


tr {
  border-radius: 3rem;
}

th {
  width: 13rem;
  border-radius: 3rem;
}

#selected-product-cart-button-delete {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(135deg ,#e69320 , #8F5BFE);
  border:none;
  border-radius: 3rem;
}

#selected-product-cart-button-delete:before{
  content : "\002716";
}

tbody input {
  width: 3rem;
  background: #f2f2f2;
  margin-top: 4.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border: none;
  height: 2rem;
}


.cart-page-total-price {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding-top: 1rem;
  height: 5.5rem;
  width: 30rem;
  background: #f2f2f2;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
}

.cart-page-total-price-bloc {
  background: #ffffff;
  border-radius: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.cart-page-total-price-bloc p {
  padding-bottom: 1rem;
}

#selected-product-cart-quantity-select-option {
  border-radius: 3rem;
}

.cart-page-form {
  width: 100%;
  background: #f2f2f2;
  border-radius: 3rem;
  display: flex;
  flex-flow: row wrap;
  margin: 2rem;
  justify-content: center;
  text-align:left;
  box-shadow: 0 0.5rem 0.5rem #d8d8d8;
}

.cart-page-form input {
  height: 3rem;
  border-radius: 3rem;
  padding-left: 1rem;
  outline-style: none;
  margin: 0.5rem;
  width: 30rem;
  border: 0.2r
}

.cart-page-form label,
.cart-page-form textarea{
    display: block;
    width: 15rem;
    float: left;
    font-size: 1.6rem;
    
}

.cart-page-form textarea {
  width: 31rem;
  border-radius: 3rem;
  height: 6rem;
  padding:  0.5rem 2rem;
  outline-style: none;
  margin-bottom: 1rem;
  border: 0.1rem solid #333;
}

input:invalid {
  border: 0.1rem dashed #333;
}